<div class="modal" id="contact-modal">
    <div class="modal__overlay">
        <div class="modal__content">
            <div class="modal__close"></div>
            <form class="form form--modal modal__form" action="/">
                <input class="form__text-field" type="text" placeholder="Ваше имя" value="Ратмир">
                <input class="form__text-field" type="email" placeholder="Ваш e-mail">
                <input class="form__text-field" type="text" placeholder="Текст сообщения">
                <input class="form__button" type="button" value="Отправить">
            </form>
            <div class="modal-info">
                <div>
                    <span class="modal-info__text">e-mail: </span><a class="modal-info__link" href="mailto:info@mywebsite.ru">info@mywebsite.ru</a>
                </div>
                <div>
                    <span class="modal-info__text">тел: </span><a class="modal-info__link" href="tel:+94323285622">+943-232-856-22</a>
                </div>
            </div>
        </div>
    </div>
</div>