<header class="header">
    <div class="burger" id="burger">
        <span class="burger__line"></span>
    </div>
    <nav class="nav nav--horizontal">
        <ul class="nav__list">
            <li class="nav__element">
                <a class="nav__link" href="index.html">Главная</a>
            </li>
            <li class="nav__element">
                <a class="nav__link nav__link--has-subnav" href="#">Статьи</a>
                <ul class="nav__sub-list">
                    <li class="nav__sub-element">
                        <a href="#" class="nav__sub-link">Создание сайтов</a>
                    </li>
                    <li class="nav__sub-element">
                        <a href="#" class="nav__sub-link">Интернет-маркетинг</a>
                    </li>
                    <li class="nav__sub-element">
                        <a href="#" class="nav__sub-link">Продвижение видео</a>
                    </li>
                </ul>
            </li>
            <li class="nav__element">
                <a class="nav__link" href="#">Обо мне</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" href="#">Реклама</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" href="profile.html">Профиль</a>
            </li>
        </ul>
    </nav>
    <input class="header__search" type="search" placeholder="Поиск по блогу">
</header>