<div class="modal modal--share" id="share-modal">
    <div class="modal__overlay">
        <div class="modal__content">
            <div class="modal__close"></div>
            <div class="social social--modal">
                <img class="social__link" src="./img/modal-links/1.svg" alt="">
                <img class="social__link" src="./img/modal-links/2.svg" alt="">
                <img class="social__link" src="./img/modal-links/3.svg" alt="">
                <img class="social__link" src="./img/modal-links/4.svg" alt="">
            </div>
        </div>
    </div>
</div>