@use 'vars' as *;

.comment
{
    > .comments
    {
        padding-left: 3rem;
    }
}

.comment__header
{
    display: flex;
    margin-bottom: 1.5rem;
}

.comment__avatar
{
    width: 3rem;
    height: 3rem;

    display: block;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;

    margin-right: 1.5rem;
}

.comment__name
{
    font-size: 1.2rem;
    font-weight: 500;
    color: $white;
}

.comment__time
{
    font-size: 1.2rem;
    color: #757575;
}

.comment__text
{
    color: $white;
    font-size: 1.2rem;

    margin-bottom: 0.5rem;
}

.comment__reply
{
    text-decoration: none;
    color: #107EFF;

    display: block;
    margin-bottom: 3rem;

    &:hover
    {
        text-decoration: underline;
    }
}