@use 'vars' as *;

.content
{
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $white;

    position: relative;
    padding-bottom: 3rem;

    p
    {
        margin-bottom: 2.5rem;
    }

    img
    {
        width: 100%;
        height: auto;

        box-shadow: 0 0.4rem 0.4rem rgba($black, .25);
    }

    ul, ol
    {
        list-style-position: inside;
        margin-bottom: 2.5rem;
    }

    *:last-child
    {
        margin-bottom: 0;
    }

    &::after
    {
        content: "";
        position: absolute;
        bottom: 0;

        display: block;
        width: 100%;
        height: 0.1rem;
        background-color: #1C1C1C;
    }
}