@use 'vars' as *;

.links
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 16rem;
}

.links__item
{
    text-decoration: none;
    color: $white;
    font-size: 1.2rem;

    &:hover
    {
        text-decoration: underline;
    }
}