@use 'vars' as *;

.modal
{
    width: 100%;
    height: 100vh;
    
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;

    display: none;

    &--opened
    {
        display: block;
    }
}

.modal__overlay
{
    width: 100%;
    height: 100%;

    background-color: rgba($black, 0.3);
    cursor: pointer;
}

.modal__content
{
    width: 50rem;

    padding: 8rem 8rem 2.5rem;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $primary;
    box-shadow: 0 1rem 3.5rem rgba($black, .25);
    cursor: default;

    border-radius: .5rem;

    .modal--share &
    {
        padding: 8rem 14rem;

        @include breakpoint($bp-vsm)
        {
            width: 95vw;
            padding: 5rem 3rem 3rem;
        }
    }

    .modal--story &
    {
        width: 43rem;
        height: 60rem;
        padding: 0;

        @include breakpoint($bp-vsm)
        {
            width: 95vw;
            height: auto;

            img
            {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    @include breakpoint($bp-vsm)
    {
        width: 95vw;
        padding: 5rem 3rem 3rem;
    }
}

.modal__close 
{
    position: absolute;
    top: 2rem;
    right: 2rem;
    
    width: 2rem;
    height: 2rem;
    opacity: 0.3;

    transition: opacity .2s linear;
    cursor: pointer;

    &:hover
    {
        opacity: 1;
    }

    &:before,
    &:after
    {
        content: "";
        
        position: absolute;

        height: 2.83rem;
        width: 0.2rem;
        top: 50%;
        left: 50%;

        background-color: $white;
    }

    &:before
    {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after
    {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.modal__form
{
    margin-bottom: 4rem;
}
  