@use 'vars' as *;

.modal-info
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    width: 27.2rem;

    @include breakpoint($bp-vsm)
    {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.modal-info__text,
.modal-info__link
{
    font-size: 1.2rem;
    color: #B2B2B2;
    line-height: 1.6rem;
}