@use 'vars' as *;

.profile
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 3rem;
    
    @include breakpoint($bp-md)
    {
        flex-direction: row;
        align-items: flex-end;
        padding: 0 1.5rem 1.5rem;
    }
}

.profile__avatar
{
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
    
    object-fit: cover;
    display: block;
    
    border-radius: 50%;
    border: 2px solid $white;
    box-shadow: 0 .7rem 2rem rgba($black, .25);

    @include breakpoint($bp-md)
    {
        width: 6.5rem;
        height: 6.5rem;

        margin-bottom: 0;
        margin-right: 1rem;
    }
}

.profile__name
{
    margin-bottom: .4rem;

    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $white;
    font-weight: normal;
    text-align: center;

    @include breakpoint($bp-md)
    {
        font-size: 1.5rem;
        text-align: left;
    }
}

.profile__about
{
    color: #DEDEDE;

    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;

    margin-bottom: 1.7rem;

    @include breakpoint($bp-md)
    {
        font-size: 1.2rem;
        text-align: left;

        margin-bottom: .3rem;
    }
}