@use 'vars' as *;

.reffs
{
    padding: 3rem 0 0.5rem;
    position: relative;

    &::after
    {
        content: "";
        position: absolute;
        bottom: 0;

        display: block;
        width: 100%;
        height: 0.1rem;
        background-color: #1C1C1C;
    }
}

.reffs__heading
{
    margin-bottom: 2rem;
}

.reffs__list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.reffs__element
{
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 2.5rem;
    padding-right: 2rem;

    @include breakpoint($bp-sm)
    {
        flex-basis: 100%;
        max-width: none;
    }
}

.reffs__link
{
    display: block;
    font-weight: 500;
    font-size: 1.4rem;
    color: #F3EBA2;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    margin-bottom: 0.5rem;
}

.reffs__time
{
    display: block;
    font-size: 1.2rem;
    color: #828282;
}