@use '../vars' as *;

.sidebar__content
{
    height: 100vh;
    width: $sidebar-width;
    padding-bottom: 10rem;

    background-color: $primary;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    @include breakpoint($bp-md)
    {
        padding-top: 4rem;
        overflow: auto; //Сделать это только для маленьких устройств!

        transform: translateX(-100%);
        transition: transform .2s ease-out;

        background-color: #0D0D0D;

        .sidebar--opened &
        {
            transform: none;
        }
    }
}

.sidebar__image
{
    width: 100%;
    height: 18rem;
    object-fit: cover;

    border: 1px solid $black;

    box-shadow: 0 .4rem .4rem rgba($black, .25);
    display: block;

    @include breakpoint($bp-md)
    {
        height: 10rem;
    }
}

.sidebar__profile,
.sidebar__about
{
    position: relative;
    
    &::after
    {
        content: "";

        display: block;
        position: absolute;
        bottom: 0;

        width: 26rem;
        height: 1px;
        background-color: #1C1C1C;
    }
}

.sidebar__profile
{
    margin-top: -5rem;

    @include breakpoint($bp-md)
    {
        margin-top: -1.7rem;
    }
}

.sidebar__about
{
    padding: 3rem 2rem;
    text-align: center;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.8rem;

    @include breakpoint($bp-md)
    {
        display: none;
    }
}

.sidebar__footer
{
    padding: 3rem 1.5rem 0;
}

.sidebar__footer-contact
{
    display: flex;
    justify-content: space-around;
}

.sidebar__overlay
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 399;

    background-color: rgba($black, .5);
    cursor: pointer;

    .sidebar--opened &
    {
        display: block;
    }
}