@use 'vars' as *;

.stories
{
    width: 100%;
    height: 19.5rem;

    display: flex;
    overflow: auto;

    &::-webkit-scrollbar 
    {
        display: none;
    }
}

.stories__element
{
    min-width: 14rem;
    height: 100%;
    position: relative;
    margin-right: 1.3rem;

    cursor: pointer;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba($black, .2);

    background-color: $black;

    &::after
    {
        content: "";

        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        pointer-events: none;

        background: linear-gradient(rgba($black, .7), rgba($black, 0) 30%, rgba($black, 0) 70% , rgba($black, .7));
        z-index: 3;
    }

}

.stories__img
{
    position: absolute;
    z-index: 2;
    
    width: 100%;
    height: 100%;
    
    object-fit: cover;

    transition: transform .5s ease-out;

    .stories__element:hover &
    {
        transform: scale(1.2);
    }
}

.stories__text
{
    font-size: 1.2rem;
    width: 75%;

    position: absolute;
    z-index: 4;
    top: 1.9rem;
    left: 1.2rem;
}

.stories__date
{
    font-size: 1.2rem;

    position: absolute;
    z-index: 4;
    bottom: 1.5rem;
    right: 1.7rem;
}