@use 'vars' as *;

.video-wrapper
{
    height: 0;
    overflow: hidden;

    position: relative;

    padding-bottom: 56.25%;

    iframe
    {
        position: absolute;

        display: block;
        width: 100%;
        height: 100%;
    }
}