@use 'vars' as *;

.work
{
    display: flex;

    background-color: $primary;
    box-shadow: 0 1.5rem 2.5rem rgba($black, 35%);

    @include breakpoint($bp-sm)
    {
        flex-direction: column;
    }
}

.work__left-side
{
    @include breakpoint($bp-sm)
    {
        height: 20rem;
    }
}

.work__right-side
{
    display: flex;
    flex-direction: column;
    width: 30rem;
    flex-shrink: 0;

    padding: 2.5rem;

    @include breakpoint($bp-sm)
    {
        width: 100%;
    }
}

.work__img
{
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.work__title
{
    font-weight: 500;
    font-size: 2.4rem;
    color: $white;
    text-decoration: none;
    
    margin-bottom: 3rem;

    display: block;

    &:hover
    {
        text-decoration: underline;
    }
}

.work__text
{
    font-weight: 300;
    font-size: 1.6rem;
    color: #D2D2D2;
    line-height: 2.7rem;

    margin-bottom: 3rem;
}

.work__container
{
    flex-grow: 1;

    margin-bottom: 2rem;
}

.work__footer
{
    text-align: right; 
}

.work__button
{
    text-decoration: none;
    color: $white;
    font-size: 1.2rem;
    display: inline-block;

    background-color: $blue;
    border-radius: .5rem;
    box-shadow: 0 0.4rem 1.5rem -0.7rem rgba($blue, .3);
    padding: .8rem 1.3rem;

    transition: background-color .2s linear;

    &:hover
    {
        background-color: darken($blue, 5%);
    }
}