@use 'vars' as *;

/* ===== Vendor ===== */

@use 'vender/normalize';

/* ===== Blocks ===== */

@use 'blocks/header';
@use 'blocks/sidebar';
@use 'blocks/profile';
@use 'blocks/social';
@use 'blocks/button';
@use 'blocks/nav';
@use 'blocks/page';
@use 'blocks/main';
@use 'blocks/stories';
@use 'blocks/post-input';
@use 'blocks/post';
@use 'blocks/video-wrapper';
@use 'blocks/footer';
@use 'blocks/bottom-nav';
@use 'blocks/content';
@use 'blocks/reffs';
@use 'blocks/discussion';
@use 'blocks/form';
@use 'blocks/comments';
@use 'blocks/comment';
@use 'blocks/work';
@use 'blocks/tags';
@use 'blocks/change-avatar';
@use 'blocks/links';

@use 'blocks/modal';
@use 'blocks/modal-info';
@use 'blocks/burger';


html
{
    font-size: 10px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
}

body
{
    font-size: 1.4rem;

    &.no-scroll
    {
        position: relative;
        overflow: hidden; //does not work for ios < 13
    }
}

*,
*:before,
*:after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }